.about {
    margin: 100px auto;
    display: flex;
    flex-direction: column; /* stack children vertically */
    align-items: flex-start; /* optional: align text to left */
    width: 90%;
}
.about h3{
    font-weight: 600;
    font-weight: 16px;
    color: #212EA0;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
}