.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about h3{
    font-weight: 600;
    font-weight: 16px;
    color: #212EA0;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
}