/* Main dashboard layout */
.dashboard-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.dashboard-column {
  width: 100%;
  max-width: 1400px;      /* Much wider dashboard */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile box */
.profile-box {
  margin-top: 30px;
  background-color: #f9fafb;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 350px;
}

/* Pickup requests box */
.pickup-box {
  margin-top: 20px;
  background-color: #f9fafb;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 350px;
}

/* Pickup item */
.pickup-item {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

/* Cancel button */
.cancel-btn {
  margin-top: 8px;
  padding: 8px 12px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.cancel-btn:hover {
  background: #c0392b;
}

.views-box {
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 40px;
  border-radius: 8px;
}

.view-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-btn {
  padding: 8px 12px;
  background: #ddd;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.view-btn.active {
  background: #4a76d4;
  color: #fff;
}

.view-output {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;

  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  max-height: 600px;
  overflow: auto;

  border: 1px solid #ccc;
}

.view-table {
  width: 100%;
  min-width: 1100px;
  border-collapse: collapse;
  font-size: 15px;
}

.view-table th {
  background: #3b6ecb;
  color: white;
  padding: 12px 14px;
  text-align: left;
  font-size: 15px;
}

.view-table td {
  padding: 12px 14px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.view-table tr:nth-child(even) {
  background: #f5f7fb;
}
